<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>People born on 1955</title>
    </head>
    <body>
        <h1>People born on 1955</h1>
        <% for (var person of people) { %>
            <%= person.name %><br>
        <% } %>
    </body>
</html>
